<div>
  <h1>{{game.gname}}</h1>
  <div>
    {{game.gname}}
    //
    {{game.gyear}}
    //
    <br />
    {{game.gdesc}}
  </div>
  <div>
    <img src="{{game.gurl}}" alt="{{game.gurl}}" />
  </div>
</div>